# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo
.VSCodeCounter/2024-04-03_19-24-55/details.md
.VSCodeCounter/2024-04-03_19-24-55/diff-details.md
.VSCodeCounter/2024-04-03_19-24-55/diff.csv
.VSCodeCounter/2024-04-03_19-24-55/diff.md
.VSCodeCounter/2024-04-03_19-24-55/results.csv
.VSCodeCounter/2024-04-03_19-24-55/diff.txt
.VSCodeCounter/2024-04-03_19-24-55/results.json
.VSCodeCounter/2024-04-03_19-24-55/results.md
.VSCodeCounter/2024-04-03_19-24-55/results.txt
.VSCodeCounter/2024-04-03_19-25-25/details.md
.VSCodeCounter/2024-04-03_19-25-25/diff-details.md
.VSCodeCounter/2024-04-03_19-25-25/diff.csv
.VSCodeCounter/2024-04-03_19-25-25/diff.md
.VSCodeCounter/2024-04-03_19-25-25/diff.txt
.VSCodeCounter/2024-04-03_19-25-25/results.csv
.VSCodeCounter/2024-04-03_19-25-25/results.txt
.VSCodeCounter/2024-04-03_19-25-25/results.json
.VSCodeCounter/2024-04-03_19-25-25/results.md
